header {
	margin: 0px auto;
	padding-top: 12px;
	width:90%;
}
body{
	background: #000 url(../picture/01.jpg) center center no-repeat;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}
article{
	width:90%;
	padding-left:5.5%;
	padding-right:5%;
}
h1{
	font-size: 55px;
	font-family: 微軟正黑體;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px 3px hsla(240, 80%, 50%, 0.3);
	margin-top: 90px;
	padding-bottom: 40px;
	line-height: 110%;
}
p{
	font-size: 24px;
	font-family: 微軟正黑體;
	font-weight: bold;
	clear : left;
	line-height: 33px;
	padding: 10px;
	padding-left: 0px;
}
ul{
	font-size: 22px;
	font-family: 微軟正黑體;
	clear : left;
	margin-left: 20px;
}
ol{
	font-size: 22px;
	font-family: 微軟正黑體;
	clear : left;
	margin: 15px;
}
li{
	line-height: 160%;
	margin-left: 3%;
	font-weight: bold;
}

figure{
	font-family: 微軟正黑體;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
}
figcaption{
	margin-top: 10px;
}
.list_type{
	list-style-type: decimal;
}
.context_center{
	margin-left: 23.5%;
	margin-top: 0px;
	padding-left: 2%;
	text-align: center;
	width:50%;
	background-color: #FFBBFF;
}

/*內容有問號的句子*/
.question{
	color: #c71585;
	font-weight: bold;
}

/*任何元件距離下邊界*/
.last_line{
	margin-bottom: 80px;
}

/*置中位置*/
.middle_line{
	text-align: center;
	clear : left;
}

/*圖片名稱*/
.pic_name{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: #00DD00;
}

/*圖片描述距離下邊界*/
.pic_dis{
	font-size: 22px;
	padding-bottom: 20px;
	font-weight: bold;
}
.pic_dis_align{
	font-size: 22px;
	padding-bottom: 20px;
	font-weight: bold;
	text-align: left;
}

/*部分圖片距離左邊界*/
.pic_part{
	margin-left: 13.5%;
}
.other{
	color: red;
}

/*部分描述距離下界*/
.dis_bottom{
	padding-bottom: 15px;
}

/*div與div的排列方式*/
.abreast{
	float:left;
	margin: 2%;
	margin-left: 10%;
	display: inline;
}
.abreast-01{
	padding:2%;
}
.abreast-02{
	margin-left: 8%;
}
.abreast-03{
	margin-left: 3%;
}

/*圖片大小*/
.pic_size_01{
	width: 400px;
    height: 300px;
}
.pic_size_02{
	width: 350px;
    height: 250px;
}
.pic_size_03{
	width: 250px;
    height: 300px;
}

