header {
	margin: 0px auto;
	padding-top: 12px;
	width:90%;
}
body{
	background: #000 url(../picture/03.jpg) center center no-repeat;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}
article{
	margin: 0px auto;
	width:80%;
	padding-left:5.5%;
	padding-right:5%;
}
h1{
	font-size: 55px;
	font-family: 微軟正黑體;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px 3px hsla(240, 80%, 50%, 0.3);
	margin-top: 66px;
	padding-bottom: 40px;
}
p{
	font-size: 26px;
	font-family: 微軟正黑體;
	clear : left;
	line-height: 33px;
	padding-top: 22px;
}

figure{
	font-family: 微軟正黑體;
	font-size: 20px;
	margin: 20px;
}
figcaption{
	margin-top: 10px;
}

.context_center{
	font-size: 22px;
	padding-left: 2%;
	text-align: center;
	width: 45%;
	background-color: #EED5B7;
	line-height: 30px;
}

/*內容有問號的句子*/
.question{
	margin-top: 20px;
	margin-bottom: 20px;
	color: #c71585;
	font-weight: bold;
}

/*內容某些句子樣式*/
.emphasis{
	font-size: 22pt;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	text-shadow: 4px 4px 3px hsla(240, 80%, 50%, 0.3);
	color: #da70d6;
	padding: 30px;
}

/*任何元件距離下邊界*/
.last_line{
	margin-bottom: 160px;
}

/*置中位置*/
.middle_line{
	clear : left;
	text-align: center;
}

/*圖片名稱*/
.pic_name{
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 30px;
	text-align: center;
	color: #00DD00;
}
.pic_name_nopadding{
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: #00DD00;
}

/*圖片描述*/
.pic_dis{ 
	padding-top: 10px;
	font-size: 23px;
	text-align: center;
	line-height: 25px;
}

/*07.html float圖片Div距離左邊界*/
.abreast-01{
	clear: left;
	padding-left: 8%;
}
.abreast-02{
	display: inline;
}
.abreast-03{
	margin-left: 4%;
	margin-bottom: 15px;
}
.abreast-04{
	padding-bottom: 14px;
}
.abreast-05{
	padding: 2%;
}
.abreast-06{
	padding-top: 4%;
}


/*圖片Div之間的排列*/
.abreast-left{
	padding-left: 3%;
	display: inline;
	float: left;
}
.abreast{
	margin-left: 2%;
	padding-left: 2%;
	display: inline;
	float: left;
}

/*圖片大小*/
.pic_size_01{
	width: 400px;
    height: 300px;
}
.pic_size_02{
	width: 350px;
    height: 250px;
}
.pic_size_03{
	width: 243px;
    height: 260px;
}
.pic_size_04{
	width: 600px;
    height: 800px;
}
.pic_size_05{
	width: 301px;
    height: 181px;
}

