header {
	margin: 0px auto;
	padding-top: 12px;
	width:90%;
}
body{
	
	/*背景漸層*/
	background: 
		rgba(168,250,250,1);
	/*FireFox的語法*/
	background: 
		-moz-linear-gradient(top, rgba(168,250,250,1) 0%, rgba(212,234,247,1) 44%, rgba(213,183,235,1) 68%, rgba(167,88,240,1) 86%, rgba(77,71,245,1) 100%);
	/*Chrome的語法*/
	background: 
		-webkit-gradient(left top, left bottom, color-stop(0%, rgba(168,250,250,1)), color-stop(44%, rgba(212,234,247,1)), color-stop(68%, rgba(213,183,235,1)), color-stop(86%, rgba(167,88,240,1)), color-stop(100%, rgba(77,71,245,1)));
	background: 
		-webkit-linear-gradient(top, rgba(168,250,250,1) 0%, rgba(212,234,247,1) 44%, rgba(213,183,235,1) 68%, rgba(167,88,240,1) 86%, rgba(77,71,245,1) 100%);
	/* Opera 11.10+ */
	background: 
		-o-linear-gradient(top, rgba(168,250,250,1) 0%, rgba(212,234,247,1) 44%, rgba(213,183,235,1) 68%, rgba(167,88,240,1) 86%, rgba(77,71,245,1) 100%);
	/*IE6~IE8的語法*/
	background: 
		-ms-linear-gradient(top, rgba(168,250,250,1) 0%, rgba(212,234,247,1) 44%, rgba(213,183,235,1) 68%, rgba(167,88,240,1) 86%, rgba(77,71,245,1) 100%);
	background: 
		linear-gradient(to bottom, rgba(168,250,250,1) 0%, rgba(212,234,247,1) 44%, rgba(213,183,235,1) 68%, rgba(167,88,240,1) 86%, rgba(77,71,245,1) 100%);
	filter: 
		progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8fafa', endColorstr='#4d47f5', GradientType=0 );
		
	/*背景外框*/
	border: groove 9px #8d92eb;
			-moz-border-radius-topleft: 14px;
			-moz-border-radius-topright:14px;
			-moz-border-radius-bottomleft:14px;
			-moz-border-radius-bottomright:13px;
			-webkit-border-top-left-radius:14px;
			-webkit-border-top-right-radius:14px;
			-webkit-border-bottom-left-radius:14px;
			-webkit-border-bottom-right-radius:13px;
			border-top-left-radius:14px;
			border-top-right-radius:14px;
			border-bottom-left-radius:14px;
			border-bottom-right-radius:13px;
			
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}
article{
	margin: 0px auto;
	width:80%;
	padding-left:5.5%;
	padding-right:5%;
}
h1{
	font-size: 50px;
	font-family: 微軟正黑體;
	font-weight: bold;
	text-align: center;
	text-shadow: shadow1, shadow2, shadow3;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	margin-top: 66px;
	padding-bottom: 40px;
	line-height: 120%;
}
p{
	font-size: 24px;
	font-family: 微軟正黑體;
	clear : left;
	line-height: 33px;
	padding-top: 10px;
	font-weight: bold;

}
figure{
	font-family: 微軟正黑體;
	font-size: 24px;
	margin: 20px;
	font-weight: bold;
	text-align: center;
}
figcaption{
	margin-top: 10px;
}

.context_center{
	font-size: 22px;
	padding-left: 2%;
	text-align: center;
	width: 90%;
	background-color: #EED5B7;
	line-height: 30px;
	margin-left: 5%;
}

/*內容有問號的句子*/
.question{
	margin-top: 20px;
	margin-bottom: 20px;
	color: #c71585;
	font-weight: bold;
}

/*內容某些句子樣式*/
.emphasis{
	font-size: 20pt;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	text-shadow: 4px 4px 3px hsla(240, 80%, 50%, 0.3);
	color: #da70d6;
}

/*任何元件距離下邊界*/
.last_line{
	margin-bottom: 10%;
}

/*置中位置*/
.middle_line{
	clear : left;
	text-align: center;
}

/*圖片名稱*/
.pic_name{
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;
	color: #8B1A1A;
	text-shadow: shadow1, shadow2, shadow3;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	line-height: 30px;
}
.pic_name_nopadding{
	font-size: 26px;
	font-weight: bold;
	text-shadow:7px 4px 6px #faef23;
	text-align: center;
	color: brown;
	line-height: 30px;
}

/*圖片描述*/
.pic_dis{ 
	font-size: 22px;
	text-align: center;
}

.pic_part{
	margin: 0px auto;
}

.abreast{
	padding-right:2%;
	float:left;
	display: inline;
}
.abreast-01{
	padding: 2%;
}
.abreast-02{
	display: inline;
}
.abreast-04{
	padding-bottom: 14px;
}
.abreast-05{
	margin-left: 3%;
}

.classname1{
	transition:All 1s ease-in-out;
	-webkit-transition:All 1s ease-in-out;
	-moz-transition:All 1s ease-in-out;
	-o-transition:All 1s ease-in-out;
	transform: rotate(4deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(4deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(4deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(4deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(4deg) scale(1) skew(0deg) translate(0px);
}
.classname1:hover{
	z-index: 2;
	position:relative;
	transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px);
}
.classname2{
	transition:All 1s ease-in-out;
	-webkit-transition:All 1s ease-in-out;
	-moz-transition:All 1s ease-in-out;
	-o-transition:All 1s ease-in-out;
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
.classname2:hover{
	z-index: 1;
	position:relative;
	transform: rotate(0deg) scale(1.3) skew(0deg) translate(-1px);
	-webkit-transform: rotate(0deg) scale(1.3) skew(0deg) translate(-1px);
	-moz-transform: rotate(0deg) scale(1.3) skew(0deg) translate(-1px);
	-o-transform: rotate(0deg) scale(1.3) skew(0deg) translate(-1px);
	-ms-transform: rotate(0deg) scale(1.3) skew(0deg) translate(-1px);
}
.classname3{
	transition:All 1s ease-in-out;
	-webkit-transition:All 1s ease-in-out;
	-moz-transition:All 1s ease-in-out;
	-o-transition:All 1s ease-in-out;
	transform: rotate(0deg) scale(1) skew(0deg) translate(-5px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(-5px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(-5px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(-5px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(-5px);
}
.classname3:hover{
	z-index: 1;
	position:relative;
	transform: rotate(0deg) scale(1.6) skew(0deg) translate(-7px);
	-webkit-transform: rotate(0deg) scale(1.6) skew(0deg) translate(-7px);
	-moz-transform: rotate(0deg) scale(1.6) skew(0deg) translate(-7px);
	-o-transform: rotate(0deg) scale(1.6) skew(0deg) translate(-7px);
	-ms-transform: rotate(0deg) scale(1.6) skew(0deg) translate(-7px);
}
