header {
	margin: 0px auto;
	padding-top: 12px;
	width:90%;
}
body{
	background: #000 url(../picture/07.jpg) center center no-repeat;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}
article{
	margin: 0px auto;
	width:80%;
	padding-left: 10%;
}
h1{
	font-size: 50px;
	font-family: 微軟正黑體;
	font-weight: bold;
	text-align: center;
	text-shadow: shadow1, shadow2, shadow3;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	margin-top: 50px;
	padding-bottom: 40px;
	line-height: 120%;
	color: #68228B;
}
p{
	font-size: 24px;
	font-family: 微軟正黑體;
	clear : left;
	line-height: 33px;
	padding-top: 10px;
	font-weight: bold;
}
li{
	font-weight: bold;
}
figure{
	font-family: 微軟正黑體;
	font-size: 24px;
	margin: 20px;
	font-weight: bold;
}
figcaption{
	margin-top: 10px;
}

.context_center{
	font-size: 22px;
	padding-left: 2%;
	text-align: center;
	width: 90%;
	background-color: #B4EEB4;
	line-height: 30px;
	margin-left: 5%;
}

/*內容有問號的句子*/
.question{
	margin-top: 20px;
	margin-bottom: 20px;
	color: #c71585;
	font-weight: bold;
}

/*內容某些句子樣式*/
.emphasis{
	font-size: 20pt;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	text-shadow: 4px 4px 3px hsla(240, 80%, 50%, 0.3);
	color: #da70d6;
}
.other{
	color: #0000FF;
}

/*任何元件距離下邊界*/
.last_line{
	margin-bottom: 11%;
}

/*置中位置*/
.middle_line{
	clear : left;
	text-align: center;
}

/*圖片名稱*/
.pic_name{
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;
	color: #8B1A1A;
	text-shadow: shadow1, shadow2, shadow3;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	line-height: 30px;
}
.pic_name_nopadding{
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: #8B1A1A;
	line-height: 30px;
}

/*圖片描述*/
.pic_dis{ 
	font-size: 20px;
	text-align: center;
	color: #7D26CD;
	padding-bottom: 20px;
	padding-top: 0px;
}

.pic_part{
	margin: 0px auto;
}

.abreast{
	padding-right:2%;
	float:left;
	display: inline;
}
.abreast-01{
	padding: 1%;
}
.abreast-02{
	display: inline;
}
.abreast-03{
	padding-left: 8%;
}
.abreast-04{
	padding-bottom: 14px;
}



